@page
@model IndexModel
@{
    ViewData["Title"] = "LunaSpaceX";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
    <img src="imgs/LunaSpaceX_LOGO.png" width="45%" />
    <h1 class="display-7"><i>LunaSpaceX</i></h1>
    <p></p>
    <p>Exclusive discounts and the latest trends at LunaSpaceX</p>
</div>